<h1>Welcome to line-bot</h1>
<p>You would like to be friend with line-bot ?</p>
<p>That's impossible! You have to deploy this bot into your heroku account.</p>
<p>Check this <a href="https://github.com/kakakikikeke/LINE-mqttbot/blob/master/README.md" target="_blank">one</a></p>
